<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="Container">
        <header>
            Header
        </header>
        <section>
            <div id="banner"></div>
            <div>
                @RenderBody()
            </div>
        </section>
        <footer>
            Footer
        </footer>
    </div>
</body>
</html>
