@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bài 1</title>
    <style type="text/css">
        table, th, td {
            border-top: 1px solid ;
            border-bottom: 1px solid ;
        }
            
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th{padding: 10px}
         td {
            text-align: left;
            padding: 10px;
            }
        table.mytable {
            border-collapse: collapse;
            border: 3px solid black
        }

        th.mytable {
            border: 1px solid black;
            background: #000000;
            font: bold;
            font-style: italic;
            color: white;
        }

        td.mytable {
            border: 1px solid black;
            text-align: center
        }
        tr.mytable_row{
            background-color: blueviolet    
        }
        tr.mytable_row1 {
            background-color: lightseagreen
        }


        tr.mytable_row2 {
            background-color: lightseagreen 
        }
      td.mytable3{
          background-color: black
      }


    </style>



</head>
        <body >
        <table class="mytable" >
        <tr class="mytable_row">
        <th class="mytable" width="150" > header 1</th >
        <th class="mytable" width="150" > header 2</th >
        <th class="mytable" width="150" > header 3</th >
        <th class="mytable" width="150" > header 4</th >
        </tr >
        <tr class="mytable_row1" >
        <td class="mytable3" > column 1</td >
        <td class="mytable" > column 2</td >
        <td class="mytable" > column 3</td >
        <td class="mytable" > column 4</td >
        </tr >
        <tr class="mytable_row2" >
        <td class="mytable3" > column 1</td >
        <td class="mytable" > column 2</td >
        <td class="mytable" > column 3</td >
        <td class="mytable" > column 4</td >
        </tr >
        <tr class="mytable_row1" >
        <td class="mytable3" > column 1</td >
        <td class="mytable" > column 2</td >
        <td class="mytable" > column 3</td >
        <td class="mytable" > column 4</td >
        </tr >
        <tr class="mytable_row2" >
        <td class="mytable3" > column 1</td >
        <td class="mytable" > column 2</td >
        <td class="mytable" > column 3</td >
        <td class="mytable" > column 4</td >

        </tr >
        </table >

        </body >
        </html >
